<!DOCTYPE html>
<html lang="en">

<head>
  {% load static %}
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Ngọc Ánh - knowledge for everyone</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link rel="shortcut icon" type="image/png" href="{% static 'assets/img/but.ico' %}"/>

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <!-- <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet"> -->
  <link rel="stylesheet" type="text/css" href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css'%}">
  <link rel="stylesheet" type="text/css" href="{% static 'assets/vendor/icofont/icofont.min.css'%}">
  <link rel="stylesheet" type="text/css" href="{% static 'assets/vendor/boxicons/css/boxicons.min.css'%}">
  <link rel="stylesheet" type="text/css" href="{% static 'assets/vendor/remixicon/remixicon.css'%}">
  <link rel="stylesheet" type="text/css" href="{% static 'assets/vendor/owl.carousel/assets/owl.carousel.min.css'%}">
  <link rel="stylesheet" type="text/css" href="{% static 'assets/vendor/animate.css/animate.min.css'%}">
  <link rel="stylesheet" type="text/css" href="{% static 'assets/vendor/aos/aos.css'%}">

  <!-- Template Main CSS File -->
  <link rel="stylesheet" type="text/css" href="{% static 'assets/css/style.css'%}">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css">
</head>

<body>

  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center" >
      <h1 class="logo mr-auto"><a href="{% url 'index'%}" style="font-weight: bold;"><img src="{% static 'assets/img/logo.jpg' %}"></a></h1>
      <nav class="nav-menu d-none d-lg-block" style="padding-right: 2vh;">
        <ul>
          <li><a href="{% url 'index'%}">Trang Chủ</a></li>
          <li><a href="{% url 'news'%}">Tin Tức</a></li>
          <li><a href="{% url 'about'%}">Giới thiệu</a></li>
          <li class="active"><a href="{% url 'course'%}">Khóa Học</a></li>
          <li><a href="{% url 'documents'%}">Tài Liệu</a></li>
          <li><a href="{% url 'contact'%}">Liên Hệ</a></li>
          {% if user.is_authenticated %}
            <li class="drop-down  hover-user"><a href="">{{user.username}}</a>
              <ul>
                <li>
                      <a href="{% url 'logout_user'%}" class="signin"> Đăng xuất</a>
            {% else %}
                      <a href="{% url 'login_user'%}" class="get-started-btn" style="color: white;">Đăng Nhập</a>
                </li>
              </ul>
            </li>
          {% endif %}
      </nav>
      <!-- .nav-menu -->
      
    </div>
  </header>
  <!-- End Header -->


  <main id="main" data-aos="fade-in">
    <div class="breadcrumbs">
      <div class="container">
        <h2>KHÓA HỌC</h2>
        <!-- <p>Est dolorum ut non facere possimus quibusdam eligendi voluptatem. Quia id aut similique quia voluptas sit quaerat debitis. Rerum omnis ipsam aperiam consequatur laboriosam nemo harum praesentium. </p> -->
      </div>
    </div><!-- End Breadcrumbs -->

    <!-- ======= Courses Section ======= -->
    <section id="popular-courses" class="courses">
      <div class="container" data-aos="fade-up">
        <div class="section-title">
          <h2>Khóa Học</h2>
          <p>Khóa Học Nổi Bật</p>
        </div>
        <div class="row" data-aos="zoom-in" data-aos-delay="100">
          {% for course in courses %}
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch" style="padding-bottom: 4vh;">
              <div class="course-item">
                <img src="{{course.image.url}}" alt="..." width="348" height="231">
                <div class="course-content">
                  <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4>Đang học: {{course.number_students}} </h4>
                    <p class="price">{{course.new_price}} ₫/tháng</p>
                  </div>

                  <h3><a href="{% url 'signup_course' course_id=course.id %}">{{course.headline}}</a></h3>
                  <p>{{course.content}}</p>
                  <div class="trainer d-flex justify-content-between align-items-center">
                    <div class="trainer-profile d-flex align-items-center">
                      <span>{{course.name_teacher}}</span>
                    </div>
                    <div class="trainer-rank d-flex align-items-center">
                      <!-- <i class="bx bx-user"></i>&nbsp;50
                      &nbsp;&nbsp; -->
                      <a href="{% url 'signup_course' course_id=course.id %}" style="border: 1px solid #5fcf80; padding: 3px 1vh; border-radius: 25px; font-size: 16px;">Đăng ký</a>
                    </div>
                  </div>
                </div>
              </div>
            </div> <!-- End Course Item-->
          {% endfor %}
        </div>
      </div>
    </section>
    <!-- End Popular Courses Section -->
  </main><!-- End #main -->

  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-6 footer-contact">
            <img src="{% static 'assets/img/final_logo.png' %}" style="padding-bottom: 3vh; width: 108%;">
            <p>
              136 KQH Yersin <br>
              Phường 9, Đà Lạt<br>
              Lâm Đồng <br><br>
              <strong>Phone:</strong> (+84) 944 115 721<br>
              <strong>Email:</strong> info@ngocanh.edu.vn<br>
            </p>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <!-- <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">About us</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Services</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Terms of service</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li>
            </ul> -->
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <!-- <h4>Our Services</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Web Design</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Web Development</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Product Management</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Marketing</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Graphic Design</a></li>
            </ul> -->
          </div>

          <div class="col-lg-4 col-md-6 footer-newsletter">
            <h4>Theo dõi chúng tôi</h4>
            <p>Nhận những thông tin mới nhất từ chúng tôi</p>
            <form action="" method="post">
              <input type="email" name="email" placeholder="Nhập Email" ><input type="submit" value="Subscribe" phac>
            </form>
          </div>

        </div>
      </div>
    </div>

    <div class="container d-md-flex py-4">
      <div class="mr-md-auto text-center text-md-left">
        <div class="copyright">
          &copy; Copyright <strong><span>2021</span></strong> All Rights Reserved
        </div>
        <div class="credits">
          <!-- All the links in the footer should remain intact. -->
          <!-- You can delete the links only if you purchased the pro version. -->
          <!-- Licensing information: https://bootstrapmade.com/license/ -->
          <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/mentor-free-education-bootstrap-theme/ -->
          <!-- Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a> -->
        </div>
      </div>
      <div class="social-links text-center text-md-right pt-3 pt-md-0">
        <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
        <a href="https://www.facebook.com/daythemdalat" class="facebook"><i class="bx bxl-facebook"></i></a>
        <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
        <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
        <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
      </div>
    </div>
  </footer>
  <!-- End Footer -->


  <a href="#" class="back-to-top"><i class="bx bx-up-arrow-alt"></i></a>
  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="{% static 'assets/vendor/jquery/jquery.min.js'%}"></script>
  <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js'%}"></script>
  <script src="{% static 'ssets/vendor/jquery.easing/jquery.easing.min.js'%}"></script>
  <script src="{% static 'assets/vendor/php-email-form/validate.js'%}"></script>
  <script src="{% static 'assets/vendor/waypoints/jquery.waypoints.min.js'%}"></script>
  <script src="{% static 'assets/vendor/counterup/counterup.min.js'%}"></script>
  <script src="{% static 'assets/vendor/owl.carousel/owl.carousel.min.js'%}"></script>
  <script src="{% static 'assets/vendor/aos/aos.js'%}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'assets/js/main.js'%}"></script>

</body>

</html>